#bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
 #navbarbg {
    color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border-radius: 0px 0px 10px 10px;
    z-index: 1000000;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem 0px 0px 1rem;
    width: 100%;
    position: sticky;
    top: 0px;
 }
